/* D3 Default */
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

/* General Styling */
.idyll-root {
  padding: 0;
  margin: 0;
}
h3 {
  color: black;
}
a {
  color: #4CAF50;
}
#references h1 {
  font-size: 1.5em;
}

/* Modal */
.modal {
  background: #fff;
  outline: 0;
  min-width: 250px;
  max-width: 500px;
  border-radius: 4px;
}
.modal-header,
.modal-body,
.modal-footer {
  padding: 0.5em 1.5em;
}
.modal-header {
  border-bottom: 1px solid #eee;
}
.modal-title {
  margin: 0;
}
.modal-footer {
  border-top: 1px solid #eee;
  text-align: right;
}
.modal--animated {
  opacity: 0.3;
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.modal--animated.has-entered {
  opacity: 1;
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}
.underlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.underlay.has-entered {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ReactFlow General */
.providerflow {
  background-color: white;
}
.react-flow {
  min-height: 90vh;
  margin: 0;
}
.react-flow__node-default .react-flow__handle {
  background: black !important;
}
.react-flow__node.selected {
  box-shadow: 0 0 1px 1px rgb(0, 0, 0) !important;
}
.react-flow__edge.selected .react-flow__edge-path {
  stroke: rgb(0, 0, 0) !important;
}
.react-flow__handle {
  width: 15px !important;
  height: 15px !important;
  border: 4px solid #fff !important;
}
.react-flow__handle-right {
  right: -8px !important;
}
.react-flow__handle-left {
  left: -8px !important;
}
.react-flow__edge-path {
  stroke-width: 3 !important;
}
/* ReactFlow Layout */
.providerflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}
.providerflow aside {
  border-right: 1px solid #eee;
  padding: 5px 10px;
  font-size: 12px;
  background: #fcfcfc;
}
.providerflow aside .description {
  margin-bottom: 10px;
}
.providerflow aside .title {
  font-weight: 700;
  margin-bottom: 5px;
}
.providerflow aside .transform {
  margin-bottom: 20px;
}
.providerflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
@media screen and (min-width: 1000px) {
  .providerflow {
    flex-direction: row;
  }

  .providerflow aside {
    width: 20%;
    min-width: 350px;
  }
}
/* Controls */
.react-flow__controls {
  left: 30px !important;
}
.react-flow__controls-button {
  width: 35px !important;
  height: 35px !important;
}

/* Exercise Creator */
.exercise-creator {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0;
  background-image: url("images/header.jpg");
}
.title {
  font-size: 40px;
  text-align: center;
  color: white;
}
.subtitle {
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
html {
  scroll-behavior: smooth;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-gap: 5px;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 5px;
}
.grid-title {
  font-weight: bold;
  border-bottom: 1px solid black;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: minmax(0px, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

/* Scrollbar */
 ::-webkit-scrollbar
 {
   width: 10px;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #858585;	
}
 
/* Table */
table {
  border-collapse: collapse;
  display: table;
  background-color: transparent !important;
  border: none !important;
  white-space: nowrap;
}
tr, th {
  padding: 0; 
  margin: 0;
  background-color: transparent !important;
  border: none !important;
}
table input[type=text] {
  margin: 0;
  font-weight: normal;
}

/* Center */
.centered {
  margin: 0px auto;
  text-align: center;
}
.centered button {
  display: inline-block;
}

/* Justify Text */
p {
  text-align: justify;
  text-justify: inter-word;
}

/* Slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* Button */
.button {
  background-color: white; 
  border: 2px solid #4CAF50;
  color: #4CAF50;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
}
.button {
  transition-duration: 0.4s;
}
.button:hover {
  color: white; 
  background-color: #4CAF50;
}

/* Textfield */
input[type=text] {
  border: 2px solid #4CAF50;
  padding: 4.5px 16px;
}
textarea:focus, input:focus{
  outline: none;
}

/* Radio */
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #4CAF50;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4CAF50;
}

/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism&languages=clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: black;
   background: none;
   text-shadow: 0 1px white;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
 }
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
 }
 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #f5f2f0;
 }
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 .token.punctuation {
   color: #999;
 }
 .token.namespace {
   opacity: .7;
 }
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #905;
 }
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #690;
 }
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #9a6e3a;
   /* This background color was intended by the author of this theme. */
   background: hsla(0, 0%, 100%, .5);
 }
 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #07a;
 }
 .token.function,
 .token.class-name {
   color: #DD4A68;
 }
 .token.regex,
 .token.important,
 .token.variable {
   color: #e90;
 }
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 .token.entity {
   cursor: help;
 }